body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
html{
    background-image: url(https://cdn.discordapp.com/attachments/761221305344851982/770742862635597854/images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}