body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
html{
    background-image: url(https://cdn.discordapp.com/attachments/761221305344851982/770742862635597854/images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.button{
  font: bold 15px Arial;
  text-decoration: none;
  background-color: red;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  transition: all 0,5s;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

.button:hover{
    opacity: 1;
    right: 0;
}
.button:hover span {
    padding-right: 15px;
}
.button:hover span:after {
    opacity: 1;
    right: 0;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }